{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/gst_report.css' %}">

</head>
<body>
    
<header>
    
    <div class="contain" >
      <a href="{% url 'dashboard' %}" class="dash">Dashboard - Home</a>
      <a href="{% url 'logout' %}"  class="log">logout</a>
    </div>

</header>    




    {% block body %}
        <div class="container" style="margin-top: 150px;">
            <div class="card-group">
                <div class="card" style="width: 18rem;">
                  <img style=" height: 300px; " src="{% static 'img/invoice.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">

                      <a href="{% url 'addInvoice' %}" class="btn btn-primary">Add Invoice</a>
                  </div>
                </div>
              
                <div class="card" style="width: 18rem;">
                  <img style=" height: 300px; " src="{% static 'img/services.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">

                      <a href="{% url 'service_provider' %}" class="btn btn-primary">Add Service Provider</a>
                  </div>
                </div>
              
                <div class="card" style="width: 18rem;">
                  <img style=" height: 300px; " src="{% static 'img/review.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">

                      <a href="{% url 'all_list' %}" class="btn btn-primary">Review Invoice</a>
                  </div>
                </div>
              
                <div class="card" style="width: 18rem;">
                  <img style=" height: 300px; " src="{% static 'img/bills.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">

                      <a href="{% url 'invoice_report' %}" class="btn btn-primary">Invoice Report</a>
                  </div>
                </div>
            </div>
        </div>
  {% endblock body %}
  


</body>
</html>